/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
    body {
        font-family: 'Staatliches', cursive;
        padding-top: 1vmax;
        }
    .sprite {
        position: relative;
        left: 8vmax;
    }
    #pkmn {
        margin-top: 3vmin;
        margin-left: 35vmin;
    }
    .btn-info {
        position: relative;
        left: 36vmin;
    }
    .error {
        height: 20vmax;
        margin-left: 11vmax;
    }ç
    .fa-trash {
        color: darkred;
        font-size: 0.7rem;
        cursor: pointer;
    }
 }

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    body {
        font-family: 'Staatliches', cursive;
        padding-top: 1vmax;
        }
    .sprite {
        padding-left: 7vmax;
    }
    .shadow {
        width: 50vmax;
    } 
    #pkmn {
        width: 25vmax;
    }
    .btn-info {
        margin-top: 1vmax;
        margin-left: 1.8vmax;
        width: 25vmax;
    }
    .error {
        width: 22vmax;
    }
    .fa-trash {
        color: darkred;
        font-size: 0.7rem;
        cursor: pointer;
    }
 }

 /* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    body {
    font-family: 'Staatliches', cursive;
    padding-top: 1vmax;
    }
    hr {
        margin-right: 8vmax;
    }
    .sprite {
        padding-left: 9vmax;
    }
    .error {
        width: 22vmax;
    }
    .fa-trash {
        color: darkred;
        font-size: 0.7rem;
        cursor: pointer;
    }
 }

/* Ultra large devices (desktops, 1600px and up)*/
@media (min-width: 1600px) { 
    body {
        font-family: 'Staatliches', cursive;
        padding-top: 1vmax;
        }
    #data {
        margin-left: 3vw;
    }
    .sprite {
        padding-left: 7vmax;
    }
    .error {
        width: 17vmax;
    }
    .fa-trash {
        color: darkred;
        font-size: 0.7rem;
        cursor: pointer;
    }
 }